.card
  .card-header
    .card-title
      .title Project languages
  .card-body
    p Here can choose which languages (to provide translations for them) should be added or removed from "{{currentProject.name}}" project.

    tr-project-languages-side-picker(data-unselected-data="unselectedData"
      data-unselected-title="AVAILABLE LANGUAGES"
      data-selected-data="selectedData"
      data-selected-title="ASSIGNED"
      data-current-project="currentProject"
      data-all-languages="availableLanguages"
      data-choosen-languages="choosenLanguages"
      data-left-languages="leftLanguages")

    button.btn.btn-default(data-ng-click="saveProjectLanguages()" data-ng-disabled="isPending")
      tr-waiting-spinner-span(is-pending="isPending")
      |  Save

    //- pre
    //-   | availableLanguages: {{ availableLanguages | json}}
    //-   | selectedData: {{selectedData | json}}
    //-   | unselectedData: {{unselectedData | json}}
    //-   | currentProjectLanguages: {{ currentProjectLanguages | json}}
    //-   | projectLanguages: {{projectLanguages | json}}
